[Unit]
Description=Prometheus ProSAFE Exporter
After=network.target

[Service]
ExecStart=/usr/local/bin/prosafe_exporter
User=nobody

[Install]
WantedBy=multi-user.target
